---
swagger: "2.0"
info:
  description: This api manages user life cycle i.e., activating a user, generating OTP etc..
  version: v1
  title: api-identity-v1
  contact: {}
host: mocksvc.mulesoft.com
basePath: /mocks/07a3b17e-41b6-4761-95d7-9fe8d1cc89f5
tags:
- name: identities
  description: ""
schemes:
- https
consumes:
- application/json
produces:
- application/json
paths:
  /identities:
    get:
      tags:
      - identities
      summary: Identities_GET
      description: Search Users based on multiple critieria.
      operationId: IdentitiesGet
      produces:
      - application/json
      parameters:
      - name: memberId
        in: query
        description: ""
        required: false
        type: string
      - name: firstName
        in: query
        description: ""
        required: false
        type: string
      - name: lastName
        in: query
        description: ""
        required: false
        type: string
      - name: mobileNumber
        in: query
        description: ""
        required: false
        type: string
      - name: email
        in: query
        description: ""
        required: false
        type: string
      - name: status
        in: query
        description: ""
        required: false
        type: string
      - name: accountType
        in: query
        description: ""
        required: false
        type: string
      - name: X-TransactionID
        in: header
        description: Unique ID for the Integration transaction. Generated by the Integration Platform, not the consumer system.
        required: false
        type: string
      - name: X-TrackingID
        in: header
        description: |-
          Consumer system's tracking ID for this request (if any).
          This is optional and purely for troubleshooting / analysis purposes.
        required: false
        type: string
      - name: X-SessionID
        in: header
        description: |-
          Consumer system's session ID for this request (if any).
          This is opti
          onal and purely for troubleshooting / analysis purposes.
        required: false
        type: string
      - name: X-CreationTime
        in: header
        description: |-
          The time this message was created by the invoking system.
          This is optional and purely for troubleshooting / analysis purposes.
        required: false
        type: string
        format: date-time
      - name: X-InitialSystem
        in: header
        description: |-
          The system that initiated this transaction.
          This is optional and purely for troubleshooting / analysis purposes.
        required: false
        type: string
      - name: X-InitialComponent
        in: header
        description: |-
          The first component that was involved in this transaction.
          This is optional and purely for troubleshooting / analysis purposes.
        required: false
        type: string
      - name: X-InitialOperation
        in: header
        description: |-
          The first operation that was involved in this transaction.
          This is optional and purely for troubleshooting / analysis purposes.may be tunneled to the provider system for fine-grained access control.
        required: false
        type: string
      - name: X-ClientID
        in: header
        description: The Client ID of the consumer
        required: false
        type: string
      - name: X-ClientSecret
        in: header
        description: The Client Secret of the consumer
        required: false
        type: string
      responses:
        200:
          description: ""
          headers: {}
          schema:
            $ref: '#/definitions/Identitiesresponse'
        400:
          description: Bad request
          examples:
            application/json:
              errorCode: BadRequest
              errorDescription: The request could not be understood by the server due to invalid payload
          schema:
            $ref: '#/definitions/error'
        401:
          description: Unauthorised request
          examples:
            application/json:
              errorCode: UnathorisedAccess
              errorDescription: The request requires user authentication
          schema:
            $ref: '#/definitions/error'
        403:
          description: Forbidden
          examples:
            application/json:
              errorCode: Forbidden
              errorDescription: The server understood the request, but is refusing to fulfill it
          schema:
            $ref: '#/definitions/error'
        404:
          description: Resource not found
          examples:
            application/json:
              errorCode: NotFound
              errorDescription: The URI requested is invalid or the resource requested does not exists
          schema:
            $ref: '#/definitions/error'
        405:
          description: Method not allowed
          examples:
            application/json:
              errorCode: MethodNotAllowed
              errorDescription: A request was made of a resource using a request method not supported by that resource
          schema:
            $ref: '#/definitions/error'
        406:
          description: Not acceptable
          examples:
            application/json:
              errorCode: NotAcceptable
              errorDescription: The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request
          schema:
            $ref: '#/definitions/error'
        415:
          description: Unsupported media type
          examples:
            application/json:
              errorCode: UnsupportedMediaType
              errorDescription: The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method
          schema:
            $ref: '#/definitions/error'
        default:
          description: Server error
          examples:
            application/json:
              errorCode: ServerError
              errorDescription: The server encountered an unexpected condition which prevented it from fulfilling the request
              details:
              - code: API-specific error code
                description: 'API-specific description for the error '
                severity: High
          schema:
            $ref: '#/definitions/error'
        502:
          description: Bad gateway
          examples:
            application/json:
              errorCode: BadGateway
              errorDescription: The server received an invalid response from the upstream server it accessed in attempting to fulfill the request
          schema:
            $ref: '#/definitions/error'
      deprecated: false
    post:
      tags:
      - identities
      summary: Identities_POST
      description: Create, activate and enrolls a New prospect User.
      operationId: IdentitiesPost
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: ""
        required: true
        schema:
          $ref: '#/definitions/identity'
      - name: X-TransactionID
        in: header
        description: Unique ID for the Integration transaction. Generated by the Integration Platform, not the consumer system.
        required: false
        type: string
      - name: X-TrackingID
        in: header
        description: |-
          Consumer system's tracking ID for this request (if any).
          This is optional and purely for troubleshooting / analysis purposes.
        required: false
        type: string
      - name: X-SessionID
        in: header
        description: |-
          Consumer system's session ID for this request (if any).
          This is opti
          onal and purely for troubleshooting / analysis purposes.
        required: false
        type: string
      - name: X-CreationTime
        in: header
        description: |-
          The time this message was created by the invoking system.
          This is optional and purely for troubleshooting / analysis purposes.
        required: false
        type: string
        format: date-time
      - name: X-InitialSystem
        in: header
        description: |-
          The system that initiated this transaction.
          This is optional and purely for troubleshooting / analysis purposes.
        required: false
        type: string
      - name: X-InitialComponent
        in: header
        description: |-
          The first component that was involved in this transaction.
          This is optional and purely for troubleshooting / analysis purposes.
        required: false
        type: string
      - name: X-InitialOperation
        in: header
        description: |-
          The first operation that was involved in this transaction.
          This is optional and purely for troubleshooting / analysis purposes.may be tunneled to the provider system for fine-grained access control.
        required: false
        type: string
      - name: X-ClientID
        in: header
        description: The Client ID of the consumer
        required: false
        type: string
      - name: X-ClientSecret
        in: header
        description: The Client Secret of the consumer
        required: false
        type: string
      responses:
        201:
          description: ""
          examples:
            application/json:
              id: 00ug9cr1tbOw8Uzy20h7
          headers: {}
          schema:
            $ref: '#/definitions/identity'
        400:
          description: Cannot create user in OKTA due to duplicate LeadId
          examples:
            application/json:
              errorCode: BadRequest
              errorDescription: The request could not be understood by the server due to invalid payload
          schema:
            $ref: '#/definitions/error'
        401:
          description: Unauthorised request
          examples:
            application/json:
              errorCode: UnathorisedAccess
              errorDescription: The request requires user authentication
          schema:
            $ref: '#/definitions/error'
        403:
          description: Forbidden
          examples:
            application/json:
              errorCode: Forbidden
              errorDescription: The server understood the request, but is refusing to fulfill it
          schema:
            $ref: '#/definitions/error'
        404:
          description: Resource not found
          examples:
            application/json:
              errorCode: NotFound
              errorDescription: The URI requested is invalid or the resource requested does not exists
          schema:
            $ref: '#/definitions/error'
        405:
          description: Method not allowed
          examples:
            application/json:
              errorCode: MethodNotAllowed
              errorDescription: A request was made of a resource using a request method not supported by that resource
          schema:
            $ref: '#/definitions/error'
        406:
          description: Not acceptable
          examples:
            application/json:
              errorCode: NotAcceptable
              errorDescription: The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request
          schema:
            $ref: '#/definitions/error'
        415:
          description: Unsupported media type
          examples:
            application/json:
              errorCode: UnsupportedMediaType
              errorDescription: The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method
          schema:
            $ref: '#/definitions/error'
        default:
          description: Server error
          examples:
            application/json:
              errorCode: ServerError
              errorDescription: The server encountered an unexpected condition which prevented it from fulfilling the request
              details:
              - code: API-specific error code
                description: 'API-specific description for the error '
                severity: High
          schema:
            $ref: '#/definitions/error'
        502:
          description: Bad gateway
          examples:
            application/json:
              errorCode: BadGateway
              errorDescription: The server received an invalid response from the upstream server it accessed in attempting to fulfill the request
          schema:
            $ref: '#/definitions/error'
      deprecated: false
  /identities/{id}:
    get:
      tags:
      - identities
      summary: IdentitiesById_GET
      description: Common error responses returned by an API
      operationId: IdentitiesByIdGet
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: ""
        required: true
        type: string
      - name: X-TransactionID
        in: header
        description: Unique ID for the Integration transaction. Generated by the Integration Platform, not the consumer system.
        required: false
        type: string
      - name: X-TrackingID
        in: header
        description: |-
          Consumer system's tracking ID for this request (if any).
          This is optional and purely for troubleshooting / analysis purposes.
        required: false
        type: string
      - name: X-SessionID
        in: header
        description: |-
          Consumer system's session ID for this request (if any).
          This is opti
          onal and purely for troubleshooting / analysis purposes.
        required: false
        type: string
      - name: X-CreationTime
        in: header
        description: |-
          The time this message was created by the invoking system.
          This is optional and purely for troubleshooting / analysis purposes.
        required: false
        type: string
        format: date-time
      - name: X-InitialSystem
        in: header
        description: |-
          The system that initiated this transaction.
          This is optional and purely for troubleshooting / analysis purposes.
        required: false
        type: string
      - name: X-InitialComponent
        in: header
        description: |-
          The first component that was involved in this transaction.
          This is optional and purely for troubleshooting / analysis purposes.
        required: false
        type: string
      - name: X-InitialOperation
        in: header
        description: |-
          The first operation that was involved in this transaction.
          This is optional and purely for troubleshooting / analysis purposes.may be tunneled to the provider system for fine-grained access control.
        required: false
        type: string
      - name: X-ClientID
        in: header
        description: The Client ID of the consumer
        required: false
        type: string
      - name: X-ClientSecret
        in: header
        description: The Client Secret of the consumer
        required: false
        type: string
      responses:
        200:
          description: ""
          headers: {}
          schema:
            $ref: '#/definitions/identity'
        400:
          description: Bad request
          examples:
            application/json:
              errorCode: BadRequest
              errorDescription: The request could not be understood by the server due to invalid payload
          schema:
            $ref: '#/definitions/error'
        401:
          description: Unauthorised request
          examples:
            application/json:
              errorCode: UnathorisedAccess
              errorDescription: The request requires user authentication
          schema:
            $ref: '#/definitions/error'
        403:
          description: Forbidden
          examples:
            application/json:
              errorCode: Forbidden
              errorDescription: The server understood the request, but is refusing to fulfill it
          schema:
            $ref: '#/definitions/error'
        404:
          description: Id not found
          examples:
            application/json:
              errorCode: NotFound
              errorDescription: The URI requested is invalid or the resource requested does not exists
          schema:
            $ref: '#/definitions/error'
        405:
          description: Method not allowed
          examples:
            application/json:
              errorCode: MethodNotAllowed
              errorDescription: A request was made of a resource using a request method not supported by that resource
          schema:
            $ref: '#/definitions/error'
        406:
          description: Not acceptable
          examples:
            application/json:
              errorCode: NotAcceptable
              errorDescription: The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request
          schema:
            $ref: '#/definitions/error'
        415:
          description: Unsupported media type
          examples:
            application/json:
              errorCode: UnsupportedMediaType
              errorDescription: The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method
          schema:
            $ref: '#/definitions/error'
        default:
          description: Any error other error
          examples:
            application/json:
              errorCode: ServerError
              errorDescription: The server encountered an unexpected condition which prevented it from fulfilling the request
              details:
              - code: API-specific error code
                description: 'API-specific description for the error '
                severity: High
          schema:
            $ref: '#/definitions/error'
        502:
          description: Bad gateway
          examples:
            application/json:
              errorCode: BadGateway
              errorDescription: The server received an invalid response from the upstream server it accessed in attempting to fulfill the request
          schema:
            $ref: '#/definitions/error'
      deprecated: false
    put:
      tags:
      - identities
      summary: IdentitiesById_PUT
      description: Update the identity user
      operationId: IdentitiesByIdPut
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: ""
        required: true
        type: string
      - in: body
        name: body
        description: ""
        required: true
        schema:
          $ref: '#/definitions/identity'
      - name: X-TransactionID
        in: header
        description: Unique ID for the Integration transaction. Generated by the Integration Platform, not the consumer system.
        required: false
        type: string
      - name: X-TrackingID
        in: header
        description: |-
          Consumer system's tracking ID for this request (if any).
          This is optional and purely for troubleshooting / analysis purposes.
        required: false
        type: string
      - name: X-SessionID
        in: header
        description: |-
          Consumer system's session ID for this request (if any).
          This is opti
          onal and purely for troubleshooting / analysis purposes.
        required: false
        type: string
      - name: X-CreationTime
        in: header
        description: |-
          The time this message was created by the invoking system.
          This is optional and purely for troubleshooting / analysis purposes.
        required: false
        type: string
        format: date-time
      - name: X-InitialSystem
        in: header
        description: |-
          The system that initiated this transaction.
          This is optional and purely for troubleshooting / analysis purposes.
        required: false
        type: string
      - name: X-InitialComponent
        in: header
        description: |-
          The first component that was involved in this transaction.
          This is optional and purely for troubleshooting / analysis purposes.
        required: false
        type: string
      - name: X-InitialOperation
        in: header
        description: |-
          The first operation that was involved in this transaction.
          This is optional and purely for troubleshooting / analysis purposes.may be tunneled to the provider system for fine-grained access control.
        required: false
        type: string
      - name: X-ClientID
        in: header
        description: The Client ID of the consumer
        required: false
        type: string
      - name: X-ClientSecret
        in: header
        description: The Client Secret of the consumer
        required: false
        type: string
      responses:
        204:
          description: ""
          headers: {}
        400:
          description: Bad request
          examples:
            application/json:
              errorCode: BadRequest
              errorDescription: The request could not be understood by the server due to invalid payload
          schema:
            $ref: '#/definitions/error'
        401:
          description: Unauthorised request
          examples:
            application/json:
              errorCode: UnathorisedAccess
              errorDescription: The request requires user authentication
          schema:
            $ref: '#/definitions/error'
        403:
          description: Forbidden
          examples:
            application/json:
              errorCode: Forbidden
              errorDescription: The server understood the request, but is refusing to fulfill it
          schema:
            $ref: '#/definitions/error'
        404:
          description: Resource not found
          examples:
            application/json:
              errorCode: NotFound
              errorDescription: The URI requested is invalid or the resource requested does not exists
          schema:
            $ref: '#/definitions/error'
        405:
          description: Method not allowed
          examples:
            application/json:
              errorCode: MethodNotAllowed
              errorDescription: A request was made of a resource using a request method not supported by that resource
          schema:
            $ref: '#/definitions/error'
        406:
          description: Not acceptable
          examples:
            application/json:
              errorCode: NotAcceptable
              errorDescription: The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request
          schema:
            $ref: '#/definitions/error'
        415:
          description: Unsupported media type
          examples:
            application/json:
              errorCode: UnsupportedMediaType
              errorDescription: The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method
          schema:
            $ref: '#/definitions/error'
        default:
          description: Server error
          examples:
            application/json:
              errorCode: ServerError
              errorDescription: The server encountered an unexpected condition which prevented it from fulfilling the request
              details:
              - code: API-specific error code
                description: 'API-specific description for the error '
                severity: High
          schema:
            $ref: '#/definitions/error'
        502:
          description: Bad gateway
          examples:
            application/json:
              errorCode: BadGateway
              errorDescription: The server received an invalid response from the upstream server it accessed in attempting to fulfill the request
          schema:
            $ref: '#/definitions/error'
      deprecated: false
    delete:
      tags:
      - identities
      summary: IdentitiesById_DELETE
      description: Common error responses returned by an API
      operationId: IdentitiesByIdDelete
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: ""
        required: true
        type: string
      - name: X-TransactionID
        in: header
        description: Unique ID for the Integration transaction. Generated by the Integration Platform, not the consumer system.
        required: false
        type: string
      - name: X-TrackingID
        in: header
        description: |-
          Consumer system's tracking ID for this request (if any).
          This is optional and purely for troubleshooting / analysis purposes.
        required: false
        type: string
      - name: X-SessionID
        in: header
        description: |-
          Consumer system's session ID for this request (if any).
          This is opti
          onal and purely for troubleshooting / analysis purposes.
        required: false
        type: string
      - name: X-CreationTime
        in: header
        description: |-
          The time this message was created by the invoking system.
          This is optional and purely for troubleshooting / analysis purposes.
        required: false
        type: string
        format: date-time
      - name: X-InitialSystem
        in: header
        description: |-
          The system that initiated this transaction.
          This is optional and purely for troubleshooting / analysis purposes.
        required: false
        type: string
      - name: X-InitialComponent
        in: header
        description: |-
          The first component that was involved in this transaction.
          This is optional and purely for troubleshooting / analysis purposes.
        required: false
        type: string
      - name: X-InitialOperation
        in: header
        description: |-
          The first operation that was involved in this transaction.
          This is optional and purely for troubleshooting / analysis purposes.may be tunneled to the provider system for fine-grained access control.
        required: false
        type: string
      - name: X-ClientID
        in: header
        description: The Client ID of the consumer
        required: false
        type: string
      - name: X-ClientSecret
        in: header
        description: The Client Secret of the consumer
        required: false
        type: string
      responses:
        204:
          description: Success Response - No Payload
          headers: {}
        400:
          description: Bad request
          examples:
            application/json:
              errorCode: BadRequest
              errorDescription: The request could not be understood by the server due to invalid payload
          schema:
            $ref: '#/definitions/error'
        401:
          description: Unauthorised request
          examples:
            application/json:
              errorCode: UnathorisedAccess
              errorDescription: The request requires user authentication
          schema:
            $ref: '#/definitions/error'
        403:
          description: Forbidden
          examples:
            application/json:
              errorCode: Forbidden
              errorDescription: The server understood the request, but is refusing to fulfill it
          schema:
            $ref: '#/definitions/error'
        404:
          description: Resource not found
          examples:
            application/json:
              errorCode: NotFound
              errorDescription: The URI requested is invalid or the resource requested does not exists
          schema:
            $ref: '#/definitions/error'
        405:
          description: Method not allowed
          examples:
            application/json:
              errorCode: MethodNotAllowed
              errorDescription: A request was made of a resource using a request method not supported by that resource
          schema:
            $ref: '#/definitions/error'
        406:
          description: Not acceptable
          examples:
            application/json:
              errorCode: NotAcceptable
              errorDescription: The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request
          schema:
            $ref: '#/definitions/error'
        415:
          description: Unsupported media type
          examples:
            application/json:
              errorCode: UnsupportedMediaType
              errorDescription: The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method
          schema:
            $ref: '#/definitions/error'
        default:
          description: Server error
          examples:
            application/json:
              errorCode: ServerError
              errorDescription: The server encountered an unexpected condition which prevented it from fulfilling the request
              details:
              - code: API-specific error code
                description: 'API-specific description for the error '
                severity: High
          schema:
            $ref: '#/definitions/error'
        502:
          description: Bad gateway
          examples:
            application/json:
              errorCode: BadGateway
              errorDescription: The server received an invalid response from the upstream server it accessed in attempting to fulfill the request
          schema:
            $ref: '#/definitions/error'
      deprecated: false
  /identities/{id}/otps/validate:
    post:
      tags:
      - identities
      summary: IdentitiesOtpsValidateById_POST
      description: Validate one time password
      operationId: IdentitiesOtpsValidateByIdPost
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: ""
        required: true
        type: string
      - in: body
        name: body
        description: ""
        required: true
        schema:
          $ref: '#/definitions/oneTimePassword'
      - name: X-TransactionID
        in: header
        description: Unique ID for the Integration transaction. Generated by the Integration Platform, not the consumer system.
        required: false
        type: string
      - name: X-TrackingID
        in: header
        description: |-
          Consumer system's tracking ID for this request (if any).
          This is optional and purely for troubleshooting / analysis purposes.
        required: false
        type: string
      - name: X-SessionID
        in: header
        description: |-
          Consumer system's session ID for this request (if any).
          This is opti
          onal and purely for troubleshooting / analysis purposes.
        required: false
        type: string
      - name: X-CreationTime
        in: header
        description: |-
          The time this message was created by the invoking system.
          This is optional and purely for troubleshooting / analysis purposes.
        required: false
        type: string
        format: date-time
      - name: X-InitialSystem
        in: header
        description: |-
          The system that initiated this transaction.
          This is optional and purely for troubleshooting / analysis purposes.
        required: false
        type: string
      - name: X-InitialComponent
        in: header
        description: |-
          The first component that was involved in this transaction.
          This is optional and purely for troubleshooting / analysis purposes.
        required: false
        type: string
      - name: X-InitialOperation
        in: header
        description: |-
          The first operation that was involved in this transaction.
          This is optional and purely for troubleshooting / analysis purposes.may be tunneled to the provider system for fine-grained access control.
        required: false
        type: string
      - name: X-ClientID
        in: header
        description: The Client ID of the consumer
        required: false
        type: string
      - name: X-ClientSecret
        in: header
        description: The Client Secret of the consumer
        required: false
        type: string
      responses:
        204:
          description: No response payload
          headers: {}
        400:
          description: No passcode or factor enum invalid or not found
          examples:
            application/json:
              errorCode: BadRequest
              errorDescription: The request could not be understood by the server due to invalid payload
          schema:
            $ref: '#/definitions/error'
        401:
          description: Unauthorised request
          examples:
            application/json:
              errorCode: UnathorisedAccess
              errorDescription: The request requires user authentication
          schema:
            $ref: '#/definitions/error'
        403:
          description: Invalid passcode
          examples:
            application/json:
              errorCode: Forbidden
              errorDescription: The server understood the request, but is refusing to fulfill it
          schema:
            $ref: '#/definitions/error'
        404:
          description: Resource not found
          examples:
            application/json:
              errorCode: NotFound
              errorDescription: The URI requested is invalid or the resource requested does not exists
          schema:
            $ref: '#/definitions/error'
        405:
          description: Method not allowed
          examples:
            application/json:
              errorCode: MethodNotAllowed
              errorDescription: A request was made of a resource using a request method not supported by that resource
          schema:
            $ref: '#/definitions/error'
        406:
          description: Not acceptable
          examples:
            application/json:
              errorCode: NotAcceptable
              errorDescription: The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request
          schema:
            $ref: '#/definitions/error'
        415:
          description: Unsupported media type
          examples:
            application/json:
              errorCode: UnsupportedMediaType
              errorDescription: The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method
          schema:
            $ref: '#/definitions/error'
        default:
          description: Server error
          examples:
            application/json:
              errorCode: ServerError
              errorDescription: The server encountered an unexpected condition which prevented it from fulfilling the request
              details:
              - code: API-specific error code
                description: 'API-specific description for the error '
                severity: High
          schema:
            $ref: '#/definitions/error'
        502:
          description: Bad gateway
          examples:
            application/json:
              errorCode: BadGateway
              errorDescription: The server received an invalid response from the upstream server it accessed in attempting to fulfill the request
          schema:
            $ref: '#/definitions/error'
      deprecated: false
  /identities/{id}/otps/send:
    post:
      tags:
      - identities
      summary: IdentitiesOtpsSendById_POST
      description: Send one time password
      operationId: IdentitiesOtpsSendByIdPost
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: ""
        required: true
        type: string
      - in: body
        name: body
        description: ""
        required: true
        schema:
          $ref: '#/definitions/oneTimePassword'
      - name: X-TransactionID
        in: header
        description: Unique ID for the Integration transaction. Generated by the Integration Platform, not the consumer system.
        required: false
        type: string
      - name: X-TrackingID
        in: header
        description: |-
          Consumer system's tracking ID for this request (if any).
          This is optional and purely for troubleshooting / analysis purposes.
        required: false
        type: string
      - name: X-SessionID
        in: header
        description: |-
          Consumer system's session ID for this request (if any).
          This is opti
          onal and purely for troubleshooting / analysis purposes.
        required: false
        type: string
      - name: X-CreationTime
        in: header
        description: |-
          The time this message was created by the invoking system.
          This is optional and purely for troubleshooting / analysis purposes.
        required: false
        type: string
        format: date-time
      - name: X-InitialSystem
        in: header
        description: |-
          The system that initiated this transaction.
          This is optional and purely for troubleshooting / analysis purposes.
        required: false
        type: string
      - name: X-InitialComponent
        in: header
        description: |-
          The first component that was involved in this transaction.
          This is optional and purely for troubleshooting / analysis purposes.
        required: false
        type: string
      - name: X-InitialOperation
        in: header
        description: |-
          The first operation that was involved in this transaction.
          This is optional and purely for troubleshooting / analysis purposes.may be tunneled to the provider system for fine-grained access control.
        required: false
        type: string
      - name: X-ClientID
        in: header
        description: The Client ID of the consumer
        required: false
        type: string
      - name: X-ClientSecret
        in: header
        description: The Client Secret of the consumer
        required: false
        type: string
      responses:
        204:
          description: No response payload
          headers: {}
        400:
          description: No valid factor enum or not found
          examples:
            application/json:
              errorCode: BadRequest
              errorDescription: The request could not be understood by the server due to invalid payload
          schema:
            $ref: '#/definitions/error'
        401:
          description: Unauthorised request
          examples:
            application/json:
              errorCode: UnathorisedAccess
              errorDescription: The request requires user authentication
          schema:
            $ref: '#/definitions/error'
        403:
          description: Forbidden
          examples:
            application/json:
              errorCode: Forbidden
              errorDescription: The server understood the request, but is refusing to fulfill it
          schema:
            $ref: '#/definitions/error'
        404:
          description: Resource not found
          examples:
            application/json:
              errorCode: NotFound
              errorDescription: The URI requested is invalid or the resource requested does not exists
          schema:
            $ref: '#/definitions/error'
        405:
          description: Method not allowed
          examples:
            application/json:
              errorCode: MethodNotAllowed
              errorDescription: A request was made of a resource using a request method not supported by that resource
          schema:
            $ref: '#/definitions/error'
        406:
          description: Not acceptable
          examples:
            application/json:
              errorCode: NotAcceptable
              errorDescription: The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request
          schema:
            $ref: '#/definitions/error'
        415:
          description: Unsupported media type
          examples:
            application/json:
              errorCode: UnsupportedMediaType
              errorDescription: The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method
          schema:
            $ref: '#/definitions/error'
        default:
          description: Server error
          examples:
            application/json:
              errorCode: ServerError
              errorDescription: The server encountered an unexpected condition which prevented it from fulfilling the request
              details:
              - code: API-specific error code
                description: 'API-specific description for the error '
                severity: High
          schema:
            $ref: '#/definitions/error'
        502:
          description: Bad gateway
          examples:
            application/json:
              errorCode: BadGateway
              errorDescription: The server received an invalid response from the upstream server it accessed in attempting to fulfill the request
          schema:
            $ref: '#/definitions/error'
      deprecated: false
  /identities/{id}/lifecycles/activate:
    post:
      tags:
      - identities
      summary: IdentitiesLifecyclesActivateById_POST
      description: Activates the user
      operationId: IdentitiesLifecyclesActivateByIdPost
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: ""
        required: true
        type: string
      - in: body
        name: body
        description: ""
        required: true
        schema:
          $ref: '#/definitions/identity'
      - name: X-TransactionID
        in: header
        description: Unique ID for the Integration transaction. Generated by the Integration Platform, not the consumer system.
        required: false
        type: string
      - name: X-TrackingID
        in: header
        description: |-
          Consumer system's tracking ID for this request (if any).
          This is optional and purely for troubleshooting / analysis purposes.
        required: false
        type: string
      - name: X-SessionID
        in: header
        description: |-
          Consumer system's session ID for this request (if any).
          This is opti
          onal and purely for troubleshooting / analysis purposes.
        required: false
        type: string
      - name: X-CreationTime
        in: header
        description: |-
          The time this message was created by the invoking system.
          This is optional and purely for troubleshooting / analysis purposes.
        required: false
        type: string
        format: date-time
      - name: X-InitialSystem
        in: header
        description: |-
          The system that initiated this transaction.
          This is optional and purely for troubleshooting / analysis purposes.
        required: false
        type: string
      - name: X-InitialComponent
        in: header
        description: |-
          The first component that was involved in this transaction.
          This is optional and purely for troubleshooting / analysis purposes.
        required: false
        type: string
      - name: X-InitialOperation
        in: header
        description: |-
          The first operation that was involved in this transaction.
          This is optional and purely for troubleshooting / analysis purposes.may be tunneled to the provider system for fine-grained access control.
        required: false
        type: string
      - name: X-ClientID
        in: header
        description: The Client ID of the consumer
        required: false
        type: string
      - name: X-ClientSecret
        in: header
        description: The Client Secret of the consumer
        required: false
        type: string
      responses:
        204:
          description: No response payload
          examples:
            application/json:
              activationUrl: https://cbusmemberdev.oktapreview.com/welcome/jnNdmxlsLf24NbZaGavQ
              activationToken: jnNdmxlsLf24NbZaGavQ
          headers: {}
          schema:
            $ref: '#/definitions/activation'
        400:
          description: Bad request
          examples:
            application/json:
              errorCode: BadRequest
              errorDescription: The request could not be understood by the server due to invalid payload
          schema:
            $ref: '#/definitions/error'
        401:
          description: Unauthorised request
          examples:
            application/json:
              errorCode: UnathorisedAccess
              errorDescription: The request requires user authentication
          schema:
            $ref: '#/definitions/error'
        403:
          description: Forbidden
          examples:
            application/json:
              errorCode: Forbidden
              errorDescription: The server understood the request, but is refusing to fulfill it
          schema:
            $ref: '#/definitions/error'
        404:
          description: Resource not found
          examples:
            application/json:
              errorCode: NotFound
              errorDescription: The URI requested is invalid or the resource requested does not exists
          schema:
            $ref: '#/definitions/error'
        405:
          description: Method not allowed
          examples:
            application/json:
              errorCode: MethodNotAllowed
              errorDescription: A request was made of a resource using a request method not supported by that resource
          schema:
            $ref: '#/definitions/error'
        406:
          description: Not acceptable
          examples:
            application/json:
              errorCode: NotAcceptable
              errorDescription: The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request
          schema:
            $ref: '#/definitions/error'
        415:
          description: Unsupported media type
          examples:
            application/json:
              errorCode: UnsupportedMediaType
              errorDescription: The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method
          schema:
            $ref: '#/definitions/error'
        default:
          description: Server error
          examples:
            application/json:
              errorCode: ServerError
              errorDescription: The server encountered an unexpected condition which prevented it from fulfilling the request
              details:
              - code: API-specific error code
                description: 'API-specific description for the error '
                severity: High
          schema:
            $ref: '#/definitions/error'
        502:
          description: Bad gateway
          examples:
            application/json:
              errorCode: BadGateway
              errorDescription: The server received an invalid response from the upstream server it accessed in attempting to fulfill the request
          schema:
            $ref: '#/definitions/error'
      deprecated: false
  /identities/{id}/lifecycles/deactivate:
    post:
      tags:
      - identities
      summary: IdentitiesLifecyclesDeactivateById_POST
      description: Deactivates the user
      operationId: IdentitiesLifecyclesDeactivateByIdPost
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: ""
        required: true
        type: string
      - name: X-TransactionID
        in: header
        description: Unique ID for the Integration transaction. Generated by the Integration Platform, not the consumer system.
        required: false
        type: string
      - name: X-TrackingID
        in: header
        description: |-
          Consumer system's tracking ID for this request (if any).
          This is optional and purely for troubleshooting / analysis purposes.
        required: false
        type: string
      - name: X-SessionID
        in: header
        description: |-
          Consumer system's session ID for this request (if any).
          This is opti
          onal and purely for troubleshooting / analysis purposes.
        required: false
        type: string
      - name: X-CreationTime
        in: header
        description: |-
          The time this message was created by the invoking system.
          This is optional and purely for troubleshooting / analysis purposes.
        required: false
        type: string
        format: date-time
      - name: X-InitialSystem
        in: header
        description: |-
          The system that initiated this transaction.
          This is optional and purely for troubleshooting / analysis purposes.
        required: false
        type: string
      - name: X-InitialComponent
        in: header
        description: |-
          The first component that was involved in this transaction.
          This is optional and purely for troubleshooting / analysis purposes.
        required: false
        type: string
      - name: X-InitialOperation
        in: header
        description: |-
          The first operation that was involved in this transaction.
          This is optional and purely for troubleshooting / analysis purposes.may be tunneled to the provider system for fine-grained access control.
        required: false
        type: string
      - name: X-ClientID
        in: header
        description: The Client ID of the consumer
        required: false
        type: string
      - name: X-ClientSecret
        in: header
        description: The Client Secret of the consumer
        required: false
        type: string
      responses:
        204:
          description: Success Response - No Payload
          headers: {}
        400:
          description: Bad request
          examples:
            application/json:
              errorCode: BadRequest
              errorDescription: The request could not be understood by the server due to invalid payload
          schema:
            $ref: '#/definitions/error'
        401:
          description: Unauthorised request
          examples:
            application/json:
              errorCode: UnathorisedAccess
              errorDescription: The request requires user authentication
          schema:
            $ref: '#/definitions/error'
        403:
          description: Forbidden
          examples:
            application/json:
              errorCode: Forbidden
              errorDescription: The server understood the request, but is refusing to fulfill it
          schema:
            $ref: '#/definitions/error'
        404:
          description: Resource not found
          examples:
            application/json:
              errorCode: NotFound
              errorDescription: The URI requested is invalid or the resource requested does not exists
          schema:
            $ref: '#/definitions/error'
        405:
          description: Method not allowed
          examples:
            application/json:
              errorCode: MethodNotAllowed
              errorDescription: A request was made of a resource using a request method not supported by that resource
          schema:
            $ref: '#/definitions/error'
        406:
          description: Not acceptable
          examples:
            application/json:
              errorCode: NotAcceptable
              errorDescription: The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request
          schema:
            $ref: '#/definitions/error'
        415:
          description: Unsupported media type
          examples:
            application/json:
              errorCode: UnsupportedMediaType
              errorDescription: The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method
          schema:
            $ref: '#/definitions/error'
        default:
          description: Server error
          examples:
            application/json:
              errorCode: ServerError
              errorDescription: The server encountered an unexpected condition which prevented it from fulfilling the request
              details:
              - code: API-specific error code
                description: 'API-specific description for the error '
                severity: High
          schema:
            $ref: '#/definitions/error'
        502:
          description: Bad gateway
          examples:
            application/json:
              errorCode: BadGateway
              errorDescription: The server received an invalid response from the upstream server it accessed in attempting to fulfill the request
          schema:
            $ref: '#/definitions/error'
      deprecated: false
definitions:
  identity:
    type: object
    properties:
      id:
        type: string
        example: O123
      status:
        type: string
        example: active
      firstName:
        type: string
        example: Joe
      lastName:
        type: string
        example: Smith
      email:
        type: string
        example: joe.smith@abc.com
      isEmailVerified:
        type: boolean
        example: true
      mobilePhoneNumber:
        type: string
        example: "123123123"
      userName:
        type: string
        example: joe.smith
      leadId:
        type: string
        example: L123
      memberId:
        type: string
        example: M123
      isProspect:
        type: boolean
        example: false
      sendEmail:
        type: boolean
        example: true
      accumId:
        type: object
        example:
        - 788988393890
        - 788988393890
        properties: {}
      pensionId:
        type: object
        example:
        - 788988393890
        - 788988393890
        properties: {}
      password:
        type: string
        example: dummy
      prospectUserEmail:
        type: string
        example: joe.smith@abc.com
      ssoId:
        type: string
        example: s123
      mfaOptIn:
        type: boolean
        example: false
      lastLogin:
        type: string
        example: 2019-01-14T04:48:05.000Z
        description: the last time when the user logged in.
      accountType:
        type: object
        example:
        - accumMember
        properties: {}
      isVIP:
        type: boolean
        example: true
        description: determines whether the user is a VIP or not.
    title: identity
    example:
      firstName: Isaac
      lastName: Brock
      email: email@domain.com
      mobilePhoneNumber: +61XXXXXXXX
      leadId: 91902398109
      isProspect: true
  oneTimePassword:
    type: object
    required:
    - factor
    properties:
      passcode:
        type: string
        example: "334488"
      factor:
        type: string
        example: sms
        default: sms
    title: oneTimePassword
    example:
      passcode: 324564
      factor: sms
  activation:
    type: object
    properties:
      activationUrl:
        type: string
      activationToken:
        type: string
    title: activation
    example:
      activationUrl: https://cbusmemberdev.oktapreview.com/welcome/jnNdmxlsLf24NbZaGavQ
      activationToken: jnNdmxlsLf24NbZaGavQ
  details:
    type: object
    properties:
      code:
        type: string
        description: Machine-readable description of the sub-error (API-specific).
      description:
        type: string
        description: Human-readable description of the sub-error.
      severity:
        $ref: '#/definitions/severity'
    title: details
  error:
    type: object
    properties:
      errorCode:
        type: string
        description: |-
          Human-readable description of the error (API-specific).
          Prefer textual codes over numerical ones, e.g. CustomerAccountNotFound vs. C0123
      errorDescription:
        type: string
        description: Human-readable description of the error.
      details:
        type: array
        items:
          $ref: '#/definitions/details'
    title: error
    description: The common Error structure returned by all APIs
    example:
      errorCode: BadRequest
      errorDescription: The request could not be understood by the server due to invalid payload
  Identitiesresponse:
    title: Identitiesresponse
    allOf:
    - $ref: '#/definitions/identity'
    - type: object
      required:
      - records
      properties:
        totalRecords:
          type: integer
          format: int32
          description: The total number of records, retrieved by the search criteria. This is an optional field and will only be sent if recieved from LINK.
        records:
          type: array
          description: The found records. It can be empty if no records found.
          items:
            $ref: '#/definitions/identity'
  severity:
    type: string
    title: severity
    example: Low
    enum:
    - Low
    - Medium
    - High
